.home{
    min-height: 40vh;
    padding: 50px 0 ;
    background:linear-gradient(#FF4858,#8F65FF);
}

.text-area p{
    color:white;
}
.img-area img{
    max-width: 250px;
    widows: 100%;

}
h1{
    font-size: 28px;
    color:white;
}
h3{
    font-size: 20px;
}